aiohttp==3.7.4.post0
APScheduler==3.2.0
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
Automat==20.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==3.4.6
cssselect==1.1.0
fake-useragent==0.1.11
Flask==1.0
gunicorn==19.9.0
hyperlink==21.0.0
idna==2.7
incremental==21.3.0
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
lxml==4.6.2
MarkupSafe==1.1.1
multidict==5.1.0
parsel==1.6.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyExecJS==1.5.1
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pytz==2021.1
queuelib==1.5.0
redis==3.5.3
request==1.0.117
requests==2.20.0
scapy==2.4.4
Scrapy==2.4.1
service-identity==18.1.0
six==1.15.0
soupsieve==2.2.1
Twisted==21.2.0
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.24.3
w3lib==1.22.0
Werkzeug==0.15.3
yarl==1.6.3
zope.interface==5.3.0
